@CHARSET "UTF-8";
#globalnav-footer
{
	box-sizing:border-box;
	width:100%;
	min-width:320px!important;
	padding:15px 0;
	/* background-color:#000; */
	/* color:#888; */
	overflow:hidden;
	/* font-family:FFMetaWebProLight,Arial,Helvetica,sans-serif */
}
 .block
 {
     width: 200px;
     float: left;
     border: 1px solid red;
 }
 
 .comments
 {
     width: 200px;
     float: left;
     border: 1px solid red;
     min-height: 40px;
 }
 .commentsblock
 {
     width: 200px;
     float: left;
     border: 1px solid red;
 }
 .commentbox
 {
     overflow-y: hidden;
     height: 20px;
     width: 200px;
 }
 .divfloat
 {
     float: left;
 }
 .imageicons
 {
     height: 40px;
     width: 42px;
 }
 .commentinfo
 {
     background: yellow;
     word-wrap: break-word;
     width: 152px;
 }
 .layout_header
 {
 background-color: #6288a5;
 border: 1px solid #4d7b9f;
 box-sizing: border-box;
 font-family: nyt-cheltenham,georgia,times new roman,times,serif;
 height:"30px";
 color:white;
 }
 
.rwd-table 
 {
  background: #34495e none repeat scroll 0 0;
  border-radius: 0.4em;
  color: #fff;
  overflow: hidden;
  margin: 1em 0;
  min-width: 300px;
  font-family: Montserrat,sans-serif;
  text-rendering: optimizelegibility;
}
.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
}
.rwd-table th, .rwd-table td::before {
    color: #dd5;
}
.rwd-table th, .rwd-table td {
    padding: 1em !important;
	margin: 0.5em 1em;
	display: table-cell;
    padding: 0.25em 0.5em;
	text-align: left;
}
.rwd-table tr {
    border-color: #46637f;
}
.submitBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color:#63b8ee;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
	text-indent:0px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#14396a;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -1px 0px #7cacde;
}
.submitBtn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}.submitBtn:active {
	position:relative;
	top:1px;
}
.mySlides {display:none;}
